<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.sibk.tasik">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="com.nokenindonesia.moveapp.permission.MAPS_RECEIVE" />
    <uses-permission android:name="android.permission.SOUND" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission
        android:name="org.apache.http.legacy"
        android:required="false" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="TASKS" />

    <application
        android:name=".Utility.MyApplication"
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@drawable/sukaresik"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@drawable/sukaresik"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:replace="android:icon,android:allowBackup">
        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />

        <activity
            android:name=".StartActivity.LoginActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <service
            android:name=".Service.NotificationService"
            android:exported="false" />

        <activity
            android:name=".MainActivityGuru.MainActivityGuru"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".MainActivitySiswa.MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".StartActivity.WelcomeActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity android:name=".MainActivitySiswa.Absensi"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity android:name=".MainActivitySiswa.Jadwal"
            android:screenOrientation="portrait"/>
        <activity android:name=".MainActivitySiswa.Konseling"
            android:screenOrientation="portrait"/>
        <activity android:name=".MainActivitySiswa.Bimbingan"
            android:screenOrientation="portrait"/>
        <activity android:name=".MainActivitySiswa.Profiles"
            android:screenOrientation="portrait"/>
        <activity android:name=".MainActivitySiswa.AbsensiJadwal"
            android:screenOrientation="portrait"/>
        <activity android:name=".MainActivitySiswa.RiwayatPelanggaranSiswa"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".MainActivitySiswa.ScanQr"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name=".MainActivitySiswa.TambahPengajuan"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustPan" />

        <activity
            android:name=".MainActivitySiswa.AbsensiHarianSiswa"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MainActivityGuru.AbsensiJadwalGuru"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MainActivityGuru.JadwalGuru"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MainActivityGuru.AbsensiGuru"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MainActivityGuru.ProfilesGuru"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MainActivityGuru.AbsensiHarianGuru"
            android:screenOrientation="portrait" />


    </application>

</manifest>